@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;800&family=Montserrat&display=swap");

body {
  background-color: #fad961;
  background-image: linear-gradient(
    158deg,
    #fad961 0%,
    #f76b1c 33%,
    #990808 66%,
    #340202 100%
  );
  font-family: "Montserrat", sans-serif;
}

img:hover {
  filter: blur(5.5px);
  filter: sepia(70%);
  border: 0.5rem solid #f22;
}

input::placeholder {
  color: #c42;
  opacity: 1;
}
